<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Weather App</a>
    </div>
  </nav>
</header>
<main>



  <div class="container">




    <div class="row">




      <div class="accordion" id="accordionExample">

        <app-weather-card *ngFor="let city of cities; let id = index"  [city]="city" [accordionId]="id" ></app-weather-card>




      </div>







    </div>





  </div>


</main>
